* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Main color */
    --danger: #C71254;
    --warning: #F0C20C;
    --success: #6ECC39;
    --primary: #0D47A1;

    /* Neutral Color */
    --black: #000;
    --darkGray: #333333;
    --gray: #ABABAB;
    --lightGray: #F8F8F8;
    --white: #FFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--darkGray);
    min-height: 100vh;
}

#root {
    min-height: inherit;
}
